html
{
	position: relative;
	min-height: 100%;
}

body
{
	padding-top: 50px;
	padding-bottom: 100px;
	min-height:100%;
	color: #676858;
}


.text-justify
{
	text-align: center;
}

.text-center
{
	text-align: center;
}

.text-lato{
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: 300;
}

.text-muted{
	color:#BCBBBB;
}
.text-thin{
	font-weight:100;
}

.title-super{
	font-size: 50px;
}

.title-sub{
	font-size: 30px;
}
.title-logo{
	margin-top: 20px;
}

.nav-item
{
	display: block;
	width: 100%;
}

.pad-h{
	padding-left: 25px;
	padding-right: 25px; 
}

.pad-v{
	padding-top: 15px;
	padding-bottom: 15px;
}

.pad-0{
	padding: 0px 0px 0px 0px; 
}

.mar-0{
	margin: 0px 0px 0px 0px;
}

.pic-center{
	margin-right: auto;
	margin-left: auto;
}

.back-color-f8{
	background-color: #f8f8f8;
}

.bullets{
	list-style-type: disc;
}

.bullets:hover{
	background-color: white;
}

li:hover
{
	background-color: gainsboro;
}

ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.img-clickable:hover{
	border-color: rgb(200,200,200,.5);
	background-color: rgb(200,200,200,.5);
}

.footer
{
	position: absolute;
	bottom: 0;
	left:0;
	margin-right: auto;
	width: 100%;
	margin-top: 10%;
	padding-top: 1%;
	border-top: 1px solid gainsboro;
	border-spacing: 5px;
	font-size: 10px;
	background-color: #f8f8f8;
	height: 75px;
}

@media screen and (min-width: 768px){
	li 
	{
		float:inline;
	}

	body
	{
		padding-top: 100px;
	}
	.nav-item
	{
		text-align: center;
		width: 125px;
	}
}
